<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
</head>

<body>
<table>
  <tr>
    <th>#</th>
    <th>Name</th>
    <th>Genres</th>
    <th>Authors</th>
    <th>Body</th>
  </tr>
  <% @items.each_with_index do |item, index| %>
    <tr>
      <td>
        <%= index + 1 %>.
      </td>
      <td>
        <%= item.name %>
      </td>
      <td>
        <%= item.genres %>
      </td>
      <td>
        <%= item.authors %>
      </td>
      <td>
        <%= item.body %>
      </td>
    </tr>
  <% end %>
</table>
</body>
</html>
